footer {
  padding: 10px 10px 0 10px;
  background-color: lightgray;
  margin-bottom: 0px;
  margin-top: 20px;
}

.card-hotel {
  flex: 1 150px;
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
