@gray: #aeafb5;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}


footer {
  padding: 10px 10px 0 10px;
  background-color: @gray;
  .margenes(20, 0);
}

.card-hotel {
  flex: 1 150px;
  /*padding: 2px 0px 2px 0px;*/
  .margenes(10, 0);
}

.btn-reserva {
  width: 100%;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
