footer {
  padding: 10px 10px 0 10px;
  background-color: #aeafb5;
  margin-top: 20;
  margin-bottom: 0;
}
.card-hotel {
  flex: 1 150px;
  /*padding: 2px 0px 2px 0px;*/
  margin-top: 10;
  margin-bottom: 0;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
