$gray: #aeafb5;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $gray;
  @include margenes(20px, 0px);
}

.card-hotel {
  flex: 1 150px;
  /*padding: 2px 0px 2px 0px;*/
  @include margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.botones-horizontal {
  @include margenes(10px, 0px);
}